img{
    width:300px;
    height: 300px;
}

.main-prop-container{
    display: flex;
    justify-items: space-between;
}

.prop-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.prop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}